.image{
   
    position: relative;
}


.justify
{
    position: absolute;
    top:600px;
    right:300px;
    font-family:  'Raleway', sans-serif;
}

.up{
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    font-size: 2.5rem;
    position: absolute;
    top: 200px;
    left: 600px;
}

.absolute{
    position: absolute;
    top:600px;
    right:700px;
    font-family:  'Raleway', sans-serif;
}

.relative{
    position: absolute;
    top:600px;
    left:350px;
    font-family:  'Raleway', sans-serif;
}
.left{
    top: 400px;
    right:300px;
    width: 200px;
    height: 200px;
    position: absolute;
}

.students{
    font-family:  'Raleway', sans-serif;
}

.right{
    top:400px;
    right:700px;
    width: 200px;
    height: 200px;
    position: absolute;
  
}

.container{
    top: 60px;
    color:black;
    right: 50px;
    position: absolute;
font-size: 2rem;
font-family: 'IBM Plex Serif', serif;
text-decoration: none;
}

a{
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 30px;
    margin:5px;
    padding:15px;
    float:right;
    text-align: center;
    border:none;
    text-decoration: none;
}

.center{
    top:400px;
    left:300px;
    width: 200px;
    height: 200px;
    position: absolute;

}

button{
    text-align: center;
    font-size: medium;
padding:10px;

cursor: pointer;
color: black;

}

