.student{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    position: absolute;
    top: 30px;
    left: 600px;
}

.up{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    position: absolute;
    top: 60px;
    left: 500px;
    color: black;
}

.container{
   position: relative;

}

.form{
    padding:50px;
    margin-top: 100px;
    margin-bottom: 30px;
    position: absolute;
    top: 100px;
    left:500px;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.5rem;
    width:500px;
    clear:both;
    color: black;
    
}


.form input{
    width: 100%;
    clear:both;
    height:30px;
}


.submit{
    width: 200px;
    height: 50px;
    padding:40px;
    margin-top: 50px;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.5rem;
    text-align: center;
}

.image{
    width: 1800px;
    height: 1500px;
}